{# @var device \UnzerPayment6\DataAbstractionLayer\Entity\PaymentDevice\UnzerPaymentDeviceEntity #}

{% block page_account_payment_main_unzer_paymentcredit_card %}
    <div class="unzer-payment-device credit-card">
        {% block page_account_payment_main_unzer_paymentdevice_title %}
            <div class="card-title">
                {{ "UnzerPayment.accountPayment.creditCard" | trans  }}
            </div>
        {% endblock %}

        {% block page_account_payment_main_unzer_paymentcredit_card_number %}
            <div id="number">
                <strong>{{ device.data.number }}</strong>
            </div>
        {% endblock %}

        {% block page_account_payment_main_unzer_paymentcredit_holder %}
            <div id="holder">
                {{ device.data.holder }} ({{ device.data.expiryDate }})
            </div>
        {% endblock %}

        {% block page_account_payment_main_unzer_paymentdevice_actions %}
            <div class="unzer-payment-device-actions">
                <a class="btn btn-light btn-sm" href="{{ path('frontend.unzer.device.delete', {
                    'id': device.id
                }) }}">
                    {{ "UnzerPayment.accountPayment.delete" | trans  }}
                </a>
            </div>
        {% endblock %}
    </div>
{% endblock %}
