{% block unzer_payment_frame_hire_purchase %}
    {% block unzer_payment_checkout_confirm_frame_card_body_title %}
        <div class="card-title">
            {{ context.paymentMethod.translated.name }}
        </div>
    {% endblock %}

    <div class="unzer-payment-hire-purchase-wrapper"
         data-unzer-payment-hire-purchase="true"
         data-unzer-payment-hire-purchase-options='{
            "hirePurchaseCurrency": "{{ page.extensions.unzerHirePurchase.currency }}",
            "hirePurchaseAmount": {{ page.extensions.unzerHirePurchase.amount }},
            "hirePurchaseEffectiveInterest": {{ page.extensions.unzerHirePurchase.effectiveInterest }},
            "hirePurchaseOrderDate": "{{ page.extensions.unzerHirePurchase.orderDate }}",
            "currencyIso": "{{ context.currency.isoCode }}",
            "currencyFormatLocale": "{{ app.request.locale }}",
            "starSymbol": "{{ "general.star"|trans }}"
         }'>

        <div id="element-loader" class="unzer-payment-loader">
            {# Placeholder for the loader element. #}
        </div>

        {% block unzer_payment_frame_hire_purchase_test_data %}
            {% set testDataConst = constant('UnzerPayment6\\Components\\ConfigReader\\ConfigReader::CONFIG_KEY_TEST_DATA') %}
            {% if shopware.config.UnzerPayment6.settings[testDataConst] %}
                {% sw_include '@Storefront/storefront/component/unzer/frames/testdata/hire-purchase.html.twig' %}
            {% endif %}
        {% endblock %}

        {% block unzer_payment_frame_hire_purchase_container %}
            <div id="unzer-payment-hire-purchase-container"></div>
        {% endblock %}

        {% block unzer_payment_frame_hire_purchase_birthday %}
            <label for="unzerPaymentBirthday" class="unzer-payment-label">
                {{ "account.personalBirthdayLabel"|trans }}
            </label>

            <input type="date"
                   id="unzerPaymentBirthday"
                   name="unzerPaymentBirthday"
                   class="form-control unzer-payment-date-input"
                   form="confirmOrderForm"
                   required="required"
                   {% if context.customer.birthday is not empty %}value="{{ context.customer.birthday|date('Y-m-d') }}"{% endif %}/>
        {% endblock %}
    </div>
{% endblock %}
