{% block unzer_paymentframe_invoice_factoring %}
    {% block unzer_paymentcheckout_confirm_frame_card_body_title %}
        <div class="card-title">
            {{ context.paymentMethod.translated.name }}
        </div>
    {% endblock %}

    <div class="unzer-paymentinvoice-factoring-wrapper"
         data-unzer-invoice-factoring="true"
         data-unzer-invoice-factoring-options='{
            "isB2BCustomer": "{{ context.customer.activeBillingAddress.company is not empty }}",
            "customerInfo": {{ context.customer|json_encode }}
         }'>

        <div class="unzer-paymentframe-row">
            {% if context.customer.activeBillingAddress.company is not empty %}
                {% block unzer_paymentframe_invoice_factoring_b2b_form %}
                <div id="unzer-paymentb2b-form" class="field">
                </div>

                <input type="hidden" id="unzerCustomerId" name="unzerCustomerId" form="confirmOrderForm">
                {% endblock %}
            {% else %}
                {% block unzer_paymentframe_invoice_factoring_birthday %}
                    <div id="unzer-paymentb2c-form">
                        <label for="unzerBirthday" class="unzer-paymentlabel">
                            {{ "account.personalBirthdayLabel"|trans }}
                        </label>
                        <input type="date"
                               id="unzerBirthday"
                               name="unzerBirthday"
                               class="form-control unzer-paymentdate-input"
                               form="confirmOrderForm"
                               required="required"
                               {% if context.customer.birthday is not empty %}value="{{ context.customer.birthday|date('Y-m-d') }}"{% endif %}/>
                    </div>
                {% endblock %}
            {% endif %}
        </div>
    </div>
{% endblock %}
