{% block unzer_paymentframe_sepa_direct_debit_guaranteed %}
    {% block unzer_paymentcheckout_confirm_frame_card_body_title %}
        <div class="card-title">
            {{ context.paymentMethod.translated.name }}
        </div>
    {% endblock %}

    <div class="unzer-paymentsepa-wrapper"
         data-unzer-sepa-direct-debit-guaranteed="true"
         data-unzer-sepa-direct-debit-guaranteed-options='{
            "mandateNotAcceptedError": "{{ "UnzerPayment.frame.sepa.mandate.error" | trans }}",
            "hasSepaDevices": {% if page.extensions.unzerDirectDebitGuaranteed.directDebitDevices|length > 0 %}true{% else %}false{% endif %}
         }'>

        {% block unzer_paymentframe_sepa_direct_debit_guaranteed_test_data %}
            {% if shopware.config.UnzerPayment6.settings.testMode %}
                {% sw_include '@Storefront/storefront/component/unzer/frames/testdata/sepa.html.twig' %}
            {% endif %}
        {% endblock %}

        {% if page.extensions.unzerDirectDebitGuaranteed.displayDirectDebitDeviceSelection and page.extensions.unzerDirectDebitGuaranteed.directDebitDevices|length > 0 %}
            <div class="unzer-paymentsaved-sepa-wrapper">
                <div class="unzer-paymentsaved-sepa--message">
                    {{ "UnzerPayment.frame.sepa.device.choose"|trans }}
                </div>
                {% block unzer_paymentframe_direct_debit_guaranteed_device_saved %}
                    {# @var sepaDevice \UnzerPayment6\DataAbstractionLayer\Entity\PaymentDevice\UnzerPaymentDeviceEntity #}
                    {% for sepaDevice in page.extensions.unzerDirectDebitGuaranteed.directDebitDevices %}
                        <div class="custom-control custom-radio payment-control">
                            <input type="radio" value="{{ sepaDevice.typeId }}" name="savedDirectDebitDevice"
                                   form="confirmOrderForm" id="device-{{ sepaDevice.id }}"
                                   class="custom-control-input payment-method-input"{% if loop.first %} checked="checked"{% endif %}>
                            <label for="device-{{ sepaDevice.id }}" class="custom-control-label payment-method-label">
                                <strong>{{ sepaDevice.data['iban'] }}</strong>
                            </label>
                        </div>
                    {% endfor %}
                {% endblock %}

                {% block unzer_paymentframe_direct_debit_guaranteed_device_new %}
                    <div class="custom-control custom-radio payment-control">
                        <input type="radio" value="new" name="savedDirectDebitDevice" form="confirmOrderForm"
                               id="device-new" class="custom-control-input payment-method-input">
                        <label for="device-new" class="custom-control-label payment-method-label">
                            {{ "UnzerPayment.frame.sepa.device.new"|trans }}
                        </label>
                    </div>
                {% endblock %}
            </div>
        {% endif %}

        <div class="unzer-paymentsepa-wrapper-elements">
            {% block unzer_paymentframe_sepa_direct_debit_guaranteed_iban %}
                <div id="unzer-paymentsepa-container"></div>
            {% endblock %}

            {% block unzer_paymentframe_sepa_direct_debit_guaranteed_mandate %}
                {% sw_include '@Storefront/storefront/component/unzer/frames/sepa/mandate.html.twig' %}
            {% endblock %}

            {% block unzer_paymentframe_sepa_direct_debit_guaranteed_birthday %}
                <div class="unzer-paymentframe-row">
                    <label for="unzerPaymentBirthday">
                        {{ "account.personalBirthdayLabel"|trans }}
                    </label>

                    <input type="date"
                           id="unzerPaymentBirthday"
                           name="unzerPaymentBirthday"
                           class="form-control unzer-paymentdate-input"
                           form="confirmOrderForm"
                           {% if page.extensions.unzerDirectDebitGuaranteed.directDebitDevices|length > 0 %}required="required"{% endif %}
                            {% if context.customer.birthday is not empty %}value="{{ context.customer.birthday|date('Y-m-d') }}"{% endif %}/>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
