{# @var device \HeidelPayment\DataAbstractionLayer\Entity\PaymentDevice\HeidelpayPaymentDeviceEntity #}

{% block page_account_payment_main_heidelpay_credit_card %}
    <div class="heidelpay-device credit-card">
        {% block page_account_payment_main_heidelpay_device_title %}
            <div class="card-title">
                {{ "HeidelPayment.accountPayment.creditCard" | trans  }}
            </div>
        {% endblock %}

        {% block page_account_payment_main_heidelpay_credit_card_number %}
            <div id="number">
                <strong>{{ device.data['number'] }}</strong>
            </div>
        {% endblock %}

        {% block page_account_payment_main_heidelpay_credit_holder %}
            <div id="holder">
                {{ device.data['holder'] }} ({{ device.data['expiryDate'] }})
            </div>
        {% endblock %}

        {% block page_account_payment_main_heidelpay_device_actions %}
            <div class="heidelpay-device-actions">
                <a class="btn btn-light btn-sm" href="{{ path('heidelpay.device.delete', {
                    'id': device.id
                }) }}">
                    {{ "HeidelPayment.accountPayment.delete" | trans  }}
                </a>
            </div>
        {% endblock %}
    </div>
{% endblock %}
