{% sw_extends '@Framework/documents/invoice.html.twig' %}

{% block document_head %}
    {{ parent() }}

    {% sw_include '@Framework/documents/heidelpay_style.css.twig' %}
{% endblock %}

{% block document_payment_shipping %}
    {{ parent() }}

    {% for transaction in order.transactions %}
        {% if transaction.extensions.heidelpayTransferInfo is not null %}
            <div class="page_break"></div>
            <div class="heidelpay-document">
                <div>
                    {% block document_payment_shipping_heidelpay_transfer_info_title %}
                        <div class="heidelpay-document--title">
                            {{ "HeidelPayment.transferInformation.title" | trans  }}
                        </div>
                    {% endblock %}

                    {% block document_payment_shipping_heidelpay_transfer_info_message %}
                        <h4 class="heidelpay-document--message">
                            {{ "HeidelPayment.transferInformation.message"|trans({'%amount%': (transaction.extensions.heidelpayTransferInfo.amount|currency(currencyIsoCode))})  }}
                        </h4>
                    {% endblock %}

                    {% block document_payment_shipping_heidelpay_transfer_info_table %}
                        <table class="heidelpay-document--table">
                            <tbody>
                            <tr>
                                <td class="heidelpay-document-table--main-column">{{ "HeidelPayment.transferInformation.iban" | trans  }}</td>
                                <td>{{ transaction.extensions.heidelpayTransferInfo.iban }}</td>
                            </tr>
                            <tr>
                                <td class="heidelpay-document-table--main-column">{{ "HeidelPayment.transferInformation.bic" | trans  }}</td>
                                <td>{{ transaction.extensions.heidelpayTransferInfo.bic }}</td>
                            </tr>
                            <tr>
                                <td class="heidelpay-document-table--main-column">{{ "HeidelPayment.transferInformation.holder" | trans  }}</td>
                                <td>{{ transaction.extensions.heidelpayTransferInfo.holder }}</td>
                            </tr>
                            <tr>
                                <td class="heidelpay-document-table--main-column">{{ "HeidelPayment.transferInformation.descriptor" | trans  }}</td>
                                <td>{{ transaction.extensions.heidelpayTransferInfo.descriptor }}</td>
                            </tr>
                            <tr>
                                <td class="heidelpay-document-table--main-column">{{ "HeidelPayment.transferInformation.amount" | trans  }}</td>
                                <td>{{ transaction.extensions.heidelpayTransferInfo.amount|currency(currencyIsoCode) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endblock %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
