{% block heidelpay_frame_sepa_direct_debit %}
    {% block heidelpay_checkout_confirm_frame_card_body_title %}
        <div class="card-title">
            {{ context.paymentMethod.translated.name }}
        </div>
    {% endblock %}

    <div class="heidelpay-sepa-wrapper"
         data-heidelpay-sepa-direct-debit="true"
         data-heidelpay-sepa-direct-debit-options='{
            "mandateNotAcceptedError": "{{ "HeidelPayment.frame.sepa.mandate.error" | trans  }}",
            "hasSepaDevices": {% if page.extensions.heidelpayDirectDebit.directDebitDevices|length > 0 %}true{% else %}false{% endif %}
         }'>

        {% block heidelpay_frame_sepa_direct_debit_test_data %}
            {% if shopware.config.HeidelPayment6.settings.testMode %}
                {% sw_include '@Storefront/storefront/component/heidelpay/frames/testdata/sepa.html.twig' %}
            {% endif %}
        {% endblock %}

        {% if page.extensions.heidelpayDirectDebit.displayDirectDebitDeviceSelection and page.extensions.heidelpayDirectDebit.directDebitDevices|length > 0 %}
            <div class="heidelpay-saved-sepa-wrapper">
                <div class="heidelpay-saved-sepa--message">
                    {{ "HeidelPayment.frame.sepa.device.choose"|trans }}
                </div>
                {% block heidelpay_frame_direct_debit_saved_device %}
                    {# @var sepaDevice \HeidelPayment6\DataAbstractionLayer\Entity\PaymentDevice\HeidelpayPaymentDeviceEntity #}
                    {% for sepaDevice in page.extensions.heidelpayDirectDebit.directDebitDevices %}
                        <div class="custom-control custom-radio payment-control">
                            <input type="radio" value="{{ sepaDevice.typeId }}" name="savedDirectDebitDevice" form="confirmOrderForm" id="device-{{ sepaDevice.id }}" class="custom-control-input payment-method-input"{% if loop.first %} checked="checked"{% endif %}>
                            <label for="device-{{ sepaDevice.id }}" class="custom-control-label payment-method-label">
                                <strong>{{ sepaDevice.data['iban'] }}</strong>
                            </label>
                        </div>
                    {% endfor %}
                {% endblock %}

                {% block heidelpay_frame_direct_debit_saved_device_new %}
                    <div class="custom-control custom-radio payment-control">
                        <input type="radio" value="new" name="savedDirectDebitDevice" form="confirmOrderForm" id="device-new" class="custom-control-input payment-method-input">
                        <label for="device-new" class="custom-control-label payment-method-label">
                            {{ "HeidelPayment.frame.sepa.device.new"|trans }}
                        </label>
                    </div>
                {% endblock %}
            </div>
        {% endif %}

        <div class="heidelpay-sepa-wrapper-elements">
            {% block heidelpay_frame_sepa_direct_debit_iban %}
                <div id="heidelpay-sepa-container"></div>
            {% endblock %}

            {% block heidelpay_frame_sepa_direct_debit_mandate %}
                {% sw_include '@Storefront/storefront/component/heidelpay/frames/sepa/mandate.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
