{% block unzer_payment_frame_direct_debit_secured_paylater_testdata %}
    <table class="table table-sm table-bordered">
        <tr>
            <th>{{ "UnzerPayment.frame.paylaterDirectDebitSecured.testData.accountHolder" | trans  }}</th>
            <th>{{ "UnzerPayment.frame.paylaterDirectDebitSecured.testData.iban" | trans  }}</th>
            <th>{{ "UnzerPayment.frame.paylaterDirectDebitSecured.testData.birthday" | trans  }}</th>
            <th>{{ "UnzerPayment.frame.paylaterDirectDebitSecured.testData.address" | trans  }}</th>
            <th>{{ "UnzerPayment.frame.paylaterDirectDebitSecured.testData.alternateAddress" | trans  }}</th>
        </tr>
        <tr>
            <td>Manuel Weißmann</td>
            <td>DE89370400440532013000</td>
            <td>03.10.1979</td>
            <td>Manuel Weißmann<br>
                Hugo-Junckers-Straße 3<br>
                60386 Frankfurt am Main</td>
            <td>Manuel Weißmann<br>
                Burgstraße 106<br>
                60386 Frankfurt am Main</td>
        </tr>
    </table>
{% endblock %}
